.BuildControl{
    display: flex;
    width: 75%;
    padding: 2% 0;
    font-size: 22px;
}

.Label{
    text-transform: capitalize;
    flex: 0.40;
}

.AddDelete{
    flex: 0.25;

}

.AddDeleteSpan{
    background-color: orange;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    padding: 0 25% 8% 25%;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);

}

.inactive{
    border-radius: 20px;
    color: #fff;
    padding: 0 25% 8% 25%;
    cursor: auto;
    background-color: rgba(0,0,0,0.25);
}

.Sum{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:0.25;
}

.SumPrice{
    flex:0.3;
}

@media screen and (min-width: 1000px) {
    .BuildControl{
        padding: 10px 0;
        width: 40%;
        font-size: 24px;
    }

    .AddDelete span{
        padding: 0 15% 2% 15%;
    }
}